/* teal sidebar css */

.filter_hamburger,
.wunder_bar_button {
  font-size: 16px;
  padding: 8px !important;
  background-color: transparent !important;
}

.filter_hamburger {
  float: right !important;
}

.badge-count {
  padding-left: 1em;
  padding-right: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  font-size: 0.7em;
  padding: 0 0.5em;
  vertical-align: top;
  margin-left: -1em;
}

/* disable any anchor with the disabled class */
a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: grey;
}

.filter_manager_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.manager_table_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.manager_table_row *:first-child {
  flex: 1 1 80%;
}

.manager_table_row * + * {
  flex: 0 0 0px;
  padding: 0em 1.5em;
}

.manager_placeholder {
  margin-top: 1em;
}

/* Teal sidebar */

.teal-sidebar:hover,
nav.teal-sidebar.expanded {
  width: 33vw;
  overflow: visible;
}
.teal-sidebar {
  background: #f5f5f5;
  border-right: 1px solid #cccccc;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}
.teal-sidebar-icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  transition: opacity 0.3s ease;
}
.teal-sidebar-ui {
  transition: opacity 0.3s ease;
}
.no-touch .scrollable.hover {
  overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}
nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.teal-main-ui {
  margin-right: 60px;
}
